{% if not request.headers.get("HX-Request") %} {% extends "base.html" %} {%
endif %} {% block title %}Battleship Revamp — Home{% endblock %} {% block
content %}
<section
    id="home"
    class="panel hero-panel is-active"
    aria-labelledby="tab-home"
>
    <h2 class="visually-hidden">Welcome to Battleship</h2>

    <!-- The ASCII Art Class handles all the heavy lifting now -->
    <pre class="ascii-art" aria-label="ASCII battleship silhouette">
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣽⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⢸⡉⡟⣶⠦⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⢿⣿⣺⠁⠧⣿⣸⣿⣤⡿⣶⢤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣿⣻⣇⢸⡇⣞⣿⣿⣿⡛⢻⠇⢰⣿⡶⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠛⣿⣏⣿⣯⣿⠛⠛⠿⢿⣥⣿⠀⠘⢿⣿⠀⢉⣶⣤⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⢶⣿⣿⣾⣿⡿⠀⠀⠀⠀⠀⠉⠛⠲⠬⣏⡀⠈⣿⣷⡈⠛⢦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⠁⡿⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⢦⣘⠿⠃⢸⣷⡍⢷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠓⠚⣻⣶⣆⡀⠀⠀⠀⠀⠀⠀⢰⣿⣿⠀⡇⠘⢿⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠈⠙⢦⣘⣿⣧⣠⣿⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠤⠤⠾⠿⠛⠁⠀⠀⠀⠀⠀⢠⣯⡿⢸⢸⡇⠀⠀⠹⣿⣷⣄⣠⠤⠶⣖⣋⣽⡟⠀⠀⠀⠀⠈⠻⢅⢸⣿⡍⢷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡂⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣟⣾⢃⣸⣼⣧⣴⣖⣾⣿⣿⣿⣶⠿⣿⠛⠛⢏⠙⢦⡀⠀⠀⠀⠀⠈⢳⡉⣹⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣇⠀⠀⢀⣀⣀⣤⣤⣴⣶⣿⢿⡿⠟⢻⣿⣿⡿⢦⡖⠋⠻⡿⣷⣿⣅⠉⠓⠾⣷⡚⠳⣄⠀⠀⠀⠀⠀⠙⣿⣿⠜⣇⠀⠀⣀⣀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⠴⣿⣿⣾⡿⠿⠟⠛⠋⣩⣍⣀⢀⣾⣿⣶⠛⠻⠿⢁⣀⣳⣤⠴⢻⠟⢿⣾⣷⡦⣄⡀⠉⠒⠾⣿⠷⣦⣄⣀⠀⠸⣄⣶⣹⠀⢀⣿⡿⠀⠀⠀⠀
⢸⣦⡀⠀⠀⠀⠐⠒⠛⠋⢹⣿⣯⢻⠉⠉⠓⢦⣴⠿⣿⡿⠃⢉⣽⠷⠖⠛⢉⣉⣁⣤⣼⣶⠋⠀⣼⠿⣿⣿⣏⠉⠓⢦⣄⣹⡄⠀⠉⠙⠛⠻⣿⣿⣿⣤⢞⡟⠀⠀⠀⠀⠀
⠀⠻⣷⡄⠀⠀⠀⠀⠀⠀⣿⣿⣿⡘⡇⠀⠀⠀⠈⢳⣬⠵⠋⢁⣠⠴⢖⣿⣋⡀⣠⣷⣦⣽⣄⣼⣹⡤⠼⢿⣿⡷⡖⠺⡗⠛⢿⠀⠀⠀⠀⠀⢹⢠⣼⢏⡞⠀⠀⠀⠀⠀⠀
⠀⠀⠙⣿⣆⠀⠀⠀⠀⢸⣿⣿⣿⡇⢹⡀⠀⠀⠀⢀⡿⡶⠚⣿⣤⣄⢾⣿⣿⡟⠛⢿⡿⠁⣟⣁⣠⡷⠤⠤⠿⣷⣿⢦⡷⠤⣼⡇⠀⠀⠀⠀⢸⢨⣟⡞⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠈⢿⣧⡀⠀⢀⣿⣿⣿⡿⣿⠀⣇⠀⠀⠀⢸⢰⢻⡾⠿⣿⡏⠀⣈⣫⡤⠴⡖⢳⡒⢻⢀⣰⣷⣄⣠⣿⣿⣿⣧⣳⣶⣀⣧⠀⣀⡤⢶⢸⣾⡟⠙⢤⣀⣀⣀⣀⡀⠀
⠀⠀⠀⠀⠈⢻⣷⡄⣸⣿⣿⣿⣷⡿⡇⢸⡄⠀⢀⡏⡞⡼⣧⣀⣬⠖⢻⣁⣸⡧⠤⡷⢺⡗⢺⡿⢿⣿⠟⣙⣿⣿⠉⠙⢿⣿⣿⣿⣞⡭⣚⣻⣾⣯⣿⠓⣲⣶⠤⢾⣻⣿⣳
⠀⠀⠀⠀⠀⠀⠹⣿⣷⣧⣿⢸⢸⣰⢳⠀⢷⠀⢸⢱⢣⢇⢿⣅⣼⠖⢻⣽⠿⢧⣀⣧⢼⠧⢾⡗⠛⠉⠉⠉⠉⠉⠉⠉⠛⠻⣷⣿⢩⣿⣿⣿⠛⢉⣩⠿⠟⠉⠈⠉⠙⠛⠁
⠀⠀⠀⠀⠀⠀⠀⣹⣿⣾⢸⢸⡞⣾⡼⡄⠈⣧⡏⡟⡼⣸⠈⣇⣼⣴⠞⢁⣤⣄⠉⠳⣼⣀⣸⣥⣤⡴⠶⠶⠶⠶⠶⠦⠤⣤⣙⣿⣿⠟⣿⢸⠞⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢠⠇⡟⣿⣿⣾⡇⡇⡇⢇⠀⢹⣹⢡⢧⡇⢠⣧⠞⢁⣴⡯⢼⠟⢳⣄⠈⠻⣏⣀⣿⣟⡀⠀⠐⣿⠇⠀⠀⣿⣾⣿⡟⢀⣿⠘⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⡾⣸⢁⡇⣷⣿⣇⢸⢻⢸⣀⣏⣧⡜⡼⠀⢸⢁⡴⠋⣏⣀⣾⠤⡾⢚⡟⣾⠛⠛⣻⡿⠟⠻⠿⣿⢷⡷⠿⣿⣿⣿⣷⡞⣿⡆⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢸⠃⡏⢸⠀⡇⢹⣿⣼⢸⡀⣿⡼⢸⣷⠃⠀⡿⢿⡟⢹⠃⣠⣇⣴⠷⣾⣻⣇⣀⣀⣛⡃⠀⠀⠸⠿⠀⠀⣰⣿⣿⣿⡏⠀⢹⣷⢸⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢀⡿⢾⠓⡟⠒⡇⢸⢺⣿⡧⣧⣿⢧⣯⣿⣀⣸⣁⣼⠖⡿⢉⣽⣥⣿⣚⣿⣽⣿⣿⣏⣿⣽⣛⣳⣦⡀⣠⣾⣿⣿⣿⣿⣿⡄⠈⢿⠀⢳⣀⣤⣤⣄⡀⠀⠀⠀⠀
⠀⠀⠀⣀⡼⣄⣿⢳⠃⢸⠁⢸⠘⡎⢿⣿⣿⣾⡞⡆⣿⠋⣱⣧⠞⣻⠿⣿⠀⢹⠒⡏⢸⣾⣇⢻⣿⣿⣛⣛⣿⣿⣿⣿⣿⣿⣿⢟⣿⣿⡦⣬⣷⡾⠟⠂⠀⠉⠙⠲⣄⣀⡀
⠀⠀⢠⣿⣷⣿⣿⣿⣶⣾⣶⢾⣤⣧⣸⣿⣼⣿⢱⢷⠿⣾⠉⡸⢠⣿⠛⢿⠀⣸⢭⡇⢸⣿⣿⠸⡄⣿⣒⣲⣿⣿⣿⣿⣿⠟⣩⠞⣽⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁
⠀⠀⢸⣿⣟⣿⣿⡿⢿⣿⣿⢷⣹⣧⡙⣯⡹⣿⣄⢀⣷⠃⢠⡇⡼⢹⣛⣻⠀⣿⢒⡇⢸⣿⣿⣶⣿⣿⠿⠿⣿⣿⠟⣿⣤⡾⣡⠞⣸⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⢾⣿⣿⣿⣿⣿⣼⣿⢿⠾⣷⣿⣿⣿⣿⣾⣿⣿⣇⠀⣾⣾⡇⣼⣩⣿⢀⣿⢽⡇⣿⣿⣿⣿⣿⣿⣶⢾⠋⣿⠶⠟⣡⠞⣡⣾⡿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣿⣿⢸⡇⢹⡏⢻⣿⣭⣹⣿⣷⣾⡿⢯⣿⣿⣿⣿⣰⣿⣽⣷⣾⠉⣿⣿⣟⣛⣧⣿⣿⣿⣿⣿⠩⣿⣾⠞⢁⡴⢚⡵⢛⣵⢿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠹⣿⣟⣿⡿⣷⢾⣧⣦⣎⣏⣽⡿⣿⣹⣻⣿⣿⣛⣿⣟⢳⠻⣟⣿⣟⣿⡿⠿⣿⣿⣯⣇⡼⠿⠾⣏⡤⢞⡭⢞⣫⣞⣿⡿⣻⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢹⠚⣿⢻⣝⣺⣿⣯⣿⣲⣾⡷⣟⣯⠽⢿⣭⠭⢽⡿⡭⠭⠭⢿⣷⡾⢷⣯⣥⣷⠻⣿⣤⢴⣪⡽⢚⣩⣶⣿⣿⣟⣭⢿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⣯⡴⣿⢸⣿⠮⣿⣧⡿⠤⣤⣍⣽⢸⣩⣿⣿⣋⣋⣷⣯⣭⠭⠽⠛⠛⢉⣸⣿⣷⣾⡽⣛⣫⣵⣾⣭⣿⠿⠿⠿⠿⠿⠿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢻⣠⣿⠛⣿⣷⣦⣄⣉⠙⠒⠲⠶⠶⠶⠤⠤⠤⠤⠤⠤⠤⠖⢒⣒⣿⠿⢟⣫⣭⣶⣿⡿⢷⣿⣿⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠸⣇⣿⣀⣿⣿⣿⣿⣭⣭⣝⣒⣒⡒⠒⡒⠒⠒⠒⠒⠒⣊⣉⣭⣤⣶⣾⣭⣷⡾⠿⠿⠿⠿⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠘⣿⡛⠛⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢿⣷⡶⢿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⣿⡿⠟⠋⠀⠀⠈⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢸⣿⠀⣸⡿⠟⠛⠛⠛⢻⠟⠉⠀⠾⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠶⠿⠛⠛⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
    </pre>

    <p class="hero-text">⚓ Battleship Revamp — Retro fleet initialized.</p>
</section>
{% endblock %}
