services:
  - type: web
    runtime: docker
    name: battleship-revamp
    plan: free
    region: frankfurt
    startCommand: uvicorn src.battleship.main:app --host 0.0.0.0 --port 8000
    envVars:
      - key: PORT
        value: 8000
      - key: DATABASE_URL
        fromDatabase:
          name: battleship-db
          property: connectionString
      - key: SECRET_KEY
        generateValue: true
      - key: ENVIRONMENT
        value: production

databases:
  - name: battleship-db
    plan: free
    databaseName: battleship
    user: battleship_user
