{# templates/home.html #} {% set HX = request.headers.get("HX-Request") %} {%
macro ascii_combo() %}
<div
  class="hero"
  style="
    padding: 1.5rem;
    border: 1px solid var(--g);
    border-radius: var(--radius);
    background: var(--g-soft);
    box-shadow: inset 0 0 12px rgba(0, 255, 102, 0.15);
  "
>
  <pre
    aria-label="ASCII battleship silhouette"
    style="
      white-space: pre;
      overflow-x: auto;
      font-size: 0.7rem;
      line-height: 1.05;
      color: var(--g);
      text-shadow: 0 0 6px rgba(0, 255, 102, 0.25);
    "
  >
  ⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣽⣄⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⣿⢸⡉⡟⣶⠦⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⢿⣿⣺⠁⠧⣿⣸⣿⣤⡿⣶⢤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣠⣿⣻⣇⢸⡇⣞⣿⣿⣿⡛⢻⠇⢰⣿⡶⣤⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢰⠛⣿⣏⣿⣯⣿⠛⠛⠿⢿⣥⣿⠀⠘⢿⣿⠀⢉⣶⣤⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⢶⣿⣿⣾⣿⡿⠀⠀⠀⠀⠀⠉⠛⠲⠬⣏⡀⠈⣿⣷⡈⠛⢦⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⠁⡿⣿⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠻⢦⣘⠿⠃⢸⣷⡍⢷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠓⠚⣻⣶⣆⡀⠀⠀⠀⠀⠀⠀⢰⣿⣿⠀⡇⠘⢿⣿⣄⠀⠀⠀⠀⠀⠀⠀⠀⣀⡀⠈⠙⢦⣘⣿⣧⣠⣿⣦⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠤⠤⠾⠿⠛⠁⠀⠀⠀⠀⠀⢠⣯⡿⢸⢸⡇⠀⠀⠹⣿⣷⣄⣠⠤⠶⣖⣋⣽⡟⠀⠀⠀⠀⠈⠻⢅⢸⣿⡍⢷⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡂⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣟⣾⢃⣸⣼⣧⣴⣖⣾⣿⣿⣿⣶⠿⣿⠛⠛⢏⠙⢦⡀⠀⠀⠀⠀⠈⢳⡉⣹⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣇⠀⠀⢀⣀⣀⣤⣤⣴⣶⣿⢿⡿⠟⢻⣿⣿⡿⢦⡖⠋⠻⡿⣷⣿⣅⠉⠓⠾⣷⡚⠳⣄⠀⠀⠀⠀⠀⠙⣿⣿⠜⣇⠀⠀⣀⣀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⠴⣿⣿⣾⡿⠿⠟⠛⠋⣩⣍⣀⢀⣾⣿⣶⠛⠻⠿⢁⣀⣳⣤⠴⢻⠟⢿⣾⣷⡦⣄⡀⠉⠒⠾⣿⠷⣦⣄⣀⠀⠸⣄⣶⣹⠀⢀⣿⡿⠀⠀⠀⠀
⢸⣦⡀⠀⠀⠀⠐⠒⠛⠋⢹⣿⣯⢻⠉⠉⠓⢦⣴⠿⣿⡿⠃⢉⣽⠷⠖⠛⢉⣉⣁⣤⣼⣶⠋⠀⣼⠿⣿⣿⣏⠉⠓⢦⣄⣹⡄⠀⠉⠙⠛⠻⣿⣿⣿⣤⢞⡟⠀⠀⠀⠀⠀
⠀⠻⣷⡄⠀⠀⠀⠀⠀⠀⣿⣿⣿⡘⡇⠀⠀⠀⠈⢳⣬⠵⠋⢁⣠⠴⢖⣿⣋⡀⣠⣷⣦⣽⣄⣼⣹⡤⠼⢿⣿⡷⡖⠺⡗⠛⢿⠀⠀⠀⠀⠀⢹⢠⣼⢏⡞⠀⠀⠀⠀⠀⠀
⠀⠀⠙⣿⣆⠀⠀⠀⠀⢸⣿⣿⣿⡇⢹⡀⠀⠀⠀⢀⡿⡶⠚⣿⣤⣄⢾⣿⣿⡟⠛⢿⡿⠁⣟⣁⣠⡷⠤⠤⠿⣷⣿⢦⡷⠤⣼⡇⠀⠀⠀⠀⢸⢨⣟⡞⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠈⢿⣧⡀⠀⢀⣿⣿⣿⡿⣿⠀⣇⠀⠀⠀⢸⢰⢻⡾⠿⣿⡏⠀⣈⣫⡤⠴⡖⢳⡒⢻⢀⣰⣷⣄⣠⣿⣿⣿⣧⣳⣶⣀⣧⠀⣀⡤⢶⢸⣾⡟⠙⢤⣀⣀⣀⣀⡀⠀
⠀⠀⠀⠀⠈⢻⣷⡄⣸⣿⣿⣿⣷⡿⡇⢸⡄⠀⢀⡏⡞⡼⣧⣀⣬⠖⢻⣁⣸⡧⠤⡷⢺⡗⢺⡿⢿⣿⠟⣙⣿⣿⠉⠙⢿⣿⣿⣿⣞⡭⣚⣻⣾⣯⣿⠓⣲⣶⠤⢾⣻⣿⣳
⠀⠀⠀⠀⠀⠀⠹⣿⣷⣧⣿⢸⢸⣰⢳⠀⢷⠀⢸⢱⢣⢇⢿⣅⣼⠖⢻⣽⠿⢧⣀⣧⢼⠧⢾⡗⠛⠉⠉⠉⠉⠉⠉⠉⠛⠻⣷⣿⢩⣿⣿⣿⠛⢉⣩⠿⠟⠉⠈⠉⠙⠛⠁
⠀⠀⠀⠀⠀⠀⠀⣹⣿⣾⢸⢸⡞⣾⡼⡄⠈⣧⡏⡟⡼⣸⠈⣇⣼⣴⠞⢁⣤⣄⠉⠳⣼⣀⣸⣥⣤⡴⠶⠶⠶⠶⠶⠦⠤⣤⣙⣿⣿⠟⣿⢸⠞⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⢠⠇⡟⣿⣿⣾⡇⡇⡇⢇⠀⢹⣹⢡⢧⡇⢠⣧⠞⢁⣴⡯⢼⠟⢳⣄⠈⠻⣏⣀⣿⣟⡀⠀⠐⣿⠇⠀⠀⣿⣾⣿⡟⢀⣿⠘⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⡾⣸⢁⡇⣷⣿⣇⢸⢻⢸⣀⣏⣧⡜⡼⠀⢸⢁⡴⠋⣏⣀⣾⠤⡾⢚⡟⣾⠛⠛⣻⡿⠟⠻⠿⣿⢷⡷⠿⣿⣿⣿⣷⡞⣿⡆⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢸⠃⡏⢸⠀⡇⢹⣿⣼⢸⡀⣿⡼⢸⣷⠃⠀⡿⢿⡟⢹⠃⣠⣇⣴⠷⣾⣻⣇⣀⣀⣛⡃⠀⠀⠸⠿⠀⠀⣰⣿⣿⣿⡏⠀⢹⣷⢸⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢀⡿⢾⠓⡟⠒⡇⢸⢺⣿⡧⣧⣿⢧⣯⣿⣀⣸⣁⣼⠖⡿⢉⣽⣥⣿⣚⣿⣽⣿⣿⣏⣿⣽⣛⣳⣦⡀⣠⣾⣿⣿⣿⣿⣿⡄⠈⢿⠀⢳⣀⣤⣤⣄⡀⠀⠀⠀⠀
⠀⠀⠀⣀⡼⣄⣿⢳⠃⢸⠁⢸⠘⡎⢿⣿⣿⣾⡞⡆⣿⠋⣱⣧⠞⣻⠿⣿⠀⢹⠒⡏⢸⣾⣇⢻⣿⣿⣛⣛⣿⣿⣿⣿⣿⣿⣿⢟⣿⣿⡦⣬⣷⡾⠟⠂⠀⠉⠙⠲⣄⣀⡀
⠀⠀⢠⣿⣷⣿⣿⣿⣶⣾⣶⢾⣤⣧⣸⣿⣼⣿⢱⢷⠿⣾⠉⡸⢠⣿⠛⢿⠀⣸⢭⡇⢸⣿⣿⠸⡄⣿⣒⣲⣿⣿⣿⣿⣿⠟⣩⠞⣽⣿⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠁
⠀⠀⢸⣿⣟⣿⣿⡿⢿⣿⣿⢷⣹⣧⡙⣯⡹⣿⣄⢀⣷⠃⢠⡇⡼⢹⣛⣻⠀⣿⢒⡇⢸⣿⣿⣶⣿⣿⠿⠿⣿⣿⠟⣿⣤⡾⣡⠞⣸⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⢾⣿⣿⣿⣿⣿⣼⣿⢿⠾⣷⣿⣿⣿⣿⣾⣿⣿⣇⠀⣾⣾⡇⣼⣩⣿⢀⣿⢽⡇⣿⣿⣿⣿⣿⣿⣶⢾⠋⣿⠶⠟⣡⠞⣡⣾⡿⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⣿⣿⢸⡇⢹⡏⢻⣿⣭⣹⣿⣷⣾⡿⢯⣿⣿⣿⣿⣰⣿⣽⣷⣾⠉⣿⣿⣟⣛⣧⣿⣿⣿⣿⣿⠩⣿⣾⠞⢁⡴⢚⡵⢛⣵⢿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠹⣿⣟⣿⡿⣷⢾⣧⣦⣎⣏⣽⡿⣿⣹⣻⣿⣿⣛⣿⣟⢳⠻⣟⣿⣟⣿⡿⠿⣿⣿⣯⣇⡼⠿⠾⣏⡤⢞⡭⢞⣫⣞⣿⡿⣻⣿⡟⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢹⠚⣿⢻⣝⣺⣿⣯⣿⣲⣾⡷⣟⣯⠽⢿⣭⠭⢽⡿⡭⠭⠭⢿⣷⡾⢷⣯⣥⣷⠻⣿⣤⢴⣪⡽⢚⣩⣶⣿⣿⣟⣭⢿⣿⡿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⣯⡴⣿⢸⣿⠮⣿⣧⡿⠤⣤⣍⣽⢸⣩⣿⣿⣋⣋⣷⣯⣭⠭⠽⠛⠛⢉⣸⣿⣷⣾⡽⣛⣫⣵⣾⣭⣿⠿⠿⠿⠿⠿⠿⠏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⢻⣠⣿⠛⣿⣷⣦⣄⣉⠙⠒⠲⠶⠶⠶⠤⠤⠤⠤⠤⠤⠤⠖⢒⣒⣿⠿⢟⣫⣭⣶⣿⡿⢷⣿⣿⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠸⣇⣿⣀⣿⣿⣿⣿⣭⣭⣝⣒⣒⡒⠒⡒⠒⠒⠒⠒⠒⣊⣉⣭⣤⣶⣾⣭⣷⡾⠿⠿⠿⠿⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠘⣿⡛⠛⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢿⣷⡶⢿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⣿⡿⠟⠋⠀⠀⠈⠛⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢸⣿⠀⣸⡿⠟⠛⠛⠛⢻⠟⠉⠀⠾⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠶⠿⠛⠛⠉⠉⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⢰⣶⡆⣠⣄⣠⣤⣄⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⡀⠀⡀⣀⢀⢀⠀⠀⠀⠀⠀
⠀⠀⠈⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⠉⠉⠉⠉⠉⠉⠉⠀⠀⠀⠀⠀
      </pre
  >

  <p style="margin-top: 0.75rem; color: var(--g-text-soft); text-align: center">
    ⚓ Battleship Revamp — retro fleet initialized. Use the menu above to
    deploy.
  </p>
</div>
{% endmacro %} {% if HX %}
<section id="home" class="panel is-active" aria-labelledby="tab-home">
  <h2 class="visually-hidden">Welcome</h2>
  {{ ascii_combo() }}
</section>
{% else %} {% extends "base.html" %} {% set active_tab = 'home' %} {% block
title %}Battleship Revamp — Home{% endblock %} {% block content %}
<section id="home" class="panel is-active" aria-labelledby="tab-home">
  <h2 class="visually-hidden">Welcome</h2>
  {{ ascii_combo() }}
</section>
{% endblock %} {% endif %}
